rules_version = '2';
service firebase.storage {
  match /b/react-chat-d1ebe.appspot.com/o {
    match /avatars {
      match /users/{userId} {
        allow read: if request.auth != null;
        // Only allow uploads of any image file that's less than 1MB
        allow write: if request.auth != null && request.auth.uid == userId && request.resource.contentType.matches('image/.*') && request.resource.size < 1 * 1024 * 1024;
      }
    }
  }
}
